.soft {
    background: var(--color-bg-variant);
    border-radius: 2rem;
    border: 1px solid transparent;
    height: fit-content;
    transition: var(--transition);
    display: grid;
    grid-template-columns: 1fr;
}
.soft:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}
.soft__list {
    padding: 2rem 2rem 2rem 8rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.soft__list li {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.8rem;
}
.soft__list-icon {
    color: var(--color-primary);
    margin-top: 2px;
}
.soft__list p {
    font-size: 0.9rem;
}

/* === Media queries (medium devices) === */
@media screen and (max-width: 1024px) {
    .soft {
        height: auto;
    }
    .soft__list li {
        height: 2rem;
        margin-bottom: 0.5rem;
    }
    .soft__list {
        padding-left: 5rem;
    }
}

/* === Media queries (small devices) === */
@media screen and (max-width: 600px) {
    .soft__list {
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: 2rem 2rem 2rem 5rem;
    }
}