header {
    height: 100vh;
    padding-top: 10rem;
    overflow: hidden;
}


.header__container {
    text-align: center;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.header__container section {
    margin: 0 3rem;
}
.header__photo {
    margin: 0;
}
.header__photo-img {
    display: grid;
    place-items: center;
    border: 1px solid transparent;
    padding: 0.5rem;
    border-radius: 3rem;
    width: 80%;
    height: 80%;
}

/* === CTA === */

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* === Header socials === */

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* === Scroll down === */
.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/* === Media queries (medium devices) === */
@media screen and (max-width: 1024px) {
    header {
        height: 80vh;
    }
    .header__container {
        grid-template-columns: 1fr;
    }
    .header__socials {
        flex-direction: row;
        left: 50%;
        margin-top: 3rem;
        transform: translateX(-50%);
    }
    .header__socials::after {
        content: '';
        background: transparent;
    }
    .cta {
        margin-top: 3.5rem;
    }
}

/* === Media queries (small devices) === */
@media screen and (max-width: 600px) {
    header {
        height: 80vh;
    }
    .header__container {
        grid-template-columns: 1fr;
    }
    .header__socials {
        flex-direction: row;
        left: 50%;
        margin-top: 3rem;
        transform: translateX(-50%);
    }
    .header__socials::after {
        content: '';
        background: transparent;
    }
    .scroll__down {
        display: none;
    }
}