@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
header {
    height: 80vh;
    padding-top: 10rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    grid-template-areas: 'photo info';
}
.header__photo {
    grid-area: photo;
}
.header__info {
    grid-area: info;
}
.header__container section {
    margin: 0 3rem;
}
.header__photo-img {
    overflow: hidden;
    display: grid;
    place-items: center;
    border: 1px solid transparent;
    padding: 0.5rem;
    filter: grayscale(100%);
}
.header__photo-img img {
    border-radius: 50%;
    width: 350px;
    height: 350px;
}
.header__info-name {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0;
}
.header__info-name p {
    font-size: 4rem;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.5rem;
    height: 4rem;
    text-transform: uppercase;
}
.header__info h2 {
    margin-top: 3rem;
    text-transform: uppercase;
}

/* === CTA === */

.cta {
    position: relative;
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* === Header socials === */

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    top: 0;
}

.header__socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* === Media queries (medium devices) === */
@media screen and (max-width: 1024px) {
    header {
        height: 80vh;
        padding-top: 3rem;
    }
    .header__container {
        grid-template-columns: 1fr;
        grid-template-areas: 'info photo';
    }
    .header__socials {
        flex-direction: row;
        left: 80%;
        bottom: 50%;
        margin-top: 4rem;
        transform: translate(-30%, 30%);
    }
    .header__info-name {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    .header__socials::after {
        content: '';
        background: transparent;
    }
    .cta {
        margin-top: 4.5rem;
    }
}

/* === Media queries (small devices) === */
@media screen and (max-width: 600px) {
    header {
        height: 90vh;
    }
    .header__container {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .header__photo-img img {
        border-radius: 50%;
        width: 10rem;
        height: 10rem;
    }
    .cta {
        margin-top: 0.5rem;
    }
    .header__socials {
        position: absolute;
        flex-direction: row;
        left: 0;
        top: 0;
        margin-top: 1rem;
        transform: translate(10%, -50%);
    }
    .header__socials::after {
        content: '';
        background: transparent;
    }
    .scroll__down {
        display: none;
    }
}