.container.experience__container > div {
    backdrop-filter: blur(13px) saturate(200%);
    -webkit-backdrop-filter: blur(13px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.46);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    padding: 2.4rem 5rem;
    transition: var(--transition);
}

.experience__container > div:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}
.experience__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2rem;
    margin: 0 auto;
}

.experience__details {
    display: flex;
    gap: 1rem;
}

.experience__details-icon {
    margin-top: 6px;
    color: var(--color-primary);
}

/* === Media queries (medium devices) === */
@media screen and (max-width: 1024px) {
    .container.experience__container > div {
        padding: 2.4rem 3rem;
    }
    .experience__container > div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }
}

/* === Media queries (small devices) === */
@media screen and (max-width: 600px) {
    .experience__container {
        gap: 1rem;
    }
    .experience__container > div {
        width: 100%;
        padding: 2rem 0;
    }
    .experience__content {
        grid-template-columns: 1fr 1fr;
    }
}