@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg: #fff;
  --color-bg-variant: whitesmoke;
  --color-primary: #f2b4bc;
  --color-primary-variant: #f8cd2a;
  --color-text: #000;
  --color-lite: #c4d6b7;
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
  --transition: all 400ms ease;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--color-bg);
  color: var(--color-text);
  line-height: 1.7;
}

/* === General styles === */
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}
.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-image: url(../src/assets/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
h1, h2, h3, h4, h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

section {
  margin-top: 8rem;
}

section > h2, section > h5 {
  text-align: center;
  color: var(--color-lite);
}

section > h2 {
  color: var(--color-primary);
  margin-bottom: 3rem;
}

.text-light {
  color: var(--color-lite);
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-lite);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-lite);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-bg);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* === Media queries (medium devices) === */
@media screen and (max-width: 1024px){
  .container {
    width: var(--container-width-md);
  }
  section {
    margin-top: 6rem;
  }
}

/* === Media queries (small devices) === */
@media screen and (max-width: 600px){
  .container {
    width: var(--container-width-sm);
  }
  section > h2 {
    margin-bottom: 2rem;
  }
}
